/* Syntax highlighter theme (from https://highlightjs.org) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github-dark.min.css');

/* Theme colors */
:root {
    --bg-color: #212121;
    --menu-bg-color: #272727;
    --text-color: #ffffff;
    --primary-color: #bdbdbd;
    --secondary-color: #757575;
    --code-block-color: #23241f;
    --menu-border-color: #424242;
    --header-bg-color: #424242;
    --header-text-color: #ffffff;
}
